---
title: Works - Makoto Uju
---
#content
  .hero.is-fullheight
    .hero-body
      .container v-show="isTablet"
        carousel(:navigation-enabled="true"
                 :autoplay="true"
                 :autoplay-timeout="10000"
                 :per-page="1"
                 :loop="true"
                 :pagination-padding="1"
                 :pagination-size="5"
                 :navigation-prev-label="'←'"
                 :navigation-next-label="'→'")

          slide = partial './works/iweee-site-v2'
          slide = partial './works/fountain'
          slide = partial './works/tea-cooler'
          slide = partial './works/wifi-ship'
          slide = partial './works/satori-zig'
          slide = partial './works/iweee-site'
          slide = partial './works/paperi'
          slide = partial './works/the-time'
          slide = partial './works/tikka'
          slide = partial './works/ujyu-net'

      .container.has-text-left v-show="isMobile"
        h2.subtitle.is-size-3 Makoto Uju's
        h1.title.is-size-1 Works

    .hero-foot
      = partial :nav, locals: { nav_active: :works }

  .works v-show="isMobile"
    = partial './works/iweee-site-v2'
    = partial './works/fountain'
    = partial './works/tea-cooler'
    = partial './works/wifi-ship'
    = partial './works/satori-zig'
    = partial './works/iweee-site'
    = partial './works/paperi'
    = partial './works/the-time'
    = partial './works/tikka'
    = partial './works/ujyu-net'

css:

  @media (max-width:768px) {
    .columns {
      padding-right: 0;
      padding-left: 0;
      margin-left: 0;
      margin-right: 0;
    }

    .column {
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 0;
    }

    .piece-img img {
      width: 100vw;
    }

    .work .section:first-child {
      padding-top: 2rem;
    }

    .work .section:not(:first-child) {
      padding-top: 0;
    }

    .work .section:last-child {
      padding-bottom: 12rem;
    }
  }

  .piece-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .piece-img img {
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  }

  .piece-img img:before, .piece-img img:after
  {
    content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
  }

  .VueCarousel-slide {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .keywords span {
    margin-left: 0.5rem;
  }
